<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 전체 메퍼중에서 유일한 값을 사용하여야 한다.
	 해서 관계적으로 해당 파일의 패스와 파일이름(확장자 제외)
	 그리고 dao 에서 namespace와 일치하여야 한다. -->
	               
<mapper namespace="com.mycompany.app.infra.member.MemberMapper"> 


								<!-- select 결과를 받을 객체 -->
  <resultMap id="resultMapObj" type="com.mycompany.app.infra.member.Member"></resultMap>
  
  
  <sql id="abc">
  		seq
  		,name
  		,id
  		,pass
  		,defaultNy
  		,adderss
  		,tel
	  		,(select 
	  			email
	  		from 
	  			memberEmail as email
	  		where 
	  			email.memberShip_seq = memberShip.seq 
	  		)as email
  </sql>
  
<sql id = "selectCommon">
	FROM    
	    	memberShip
		WHERE 1=1
			<if test="shKeyword != null and !shKeyword.equals('')">AND name LIKE CONCAT('%',#{shKeyword},'%')</if>
			<if test="id != null and !id.equals('')">AND id = #{id}</if>
</sql>

  	<select id="selectOneCount" resultType="Integer">
		SELECT count(*)
		<include refid="selectCommon" />
	</select>

   	<select id="selectList" resultMap="resultMapObj">
		SELECT aa.* FROM (   	
	   		SELECT
				<include refid="abc" />
	   			<include refid="selectCommon" />
		) aa
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}	   			
   	</select>  
   	
 
 

<!-- <select id="selectTwo" resultMap="resultMapObj">
	SELECT *
	FROM
		memberShip
	WHERE
		seq = #{seq}
</select> -->

<!-- ajax 사용 -->
<select id= "selectOne" resultMap="resultMapObj">
SELECT 
	seq
	,name
	,id
	,pass
	,adderss
	,tel
	,defaultNy
FROM
	memberShip
WHERE 1=1
	<if test="seq != null and !seq.equals('')">	AND seq = #{seq} </if>
	<if test="id != null and !id.equals('')">	AND id = #{id} </if>
	<if test="pass != null and !pass.equals('')">AND pass = #{pass}</if>
	<if test="name != null and !name.equals('')">AND name = #{name}</if>
	<if test="adderss != null and !adderss.equals('')">AND adderss = #{adderss}</if>
	<if test="tel != null and !tel.equals('')">AND tel = #{tel}</if>
	<if test="defaultNy != null and !defaultNy.equals('')">AND defaultNy = #{defaultNy}</if>
</select>

 <!-- <select id="selectOneCheckId" resultType="resultTypeObj"> -->
<!-- SELECT -->
<!-- 	id -->
<!-- FORM -->
<!-- 	memberShip -->
<!-- WHERE 1=1 -->
<!--  	AND id = #{id} -->
<!-- </select>  -->

 <update id="update">
UPDATE memberShip
SET
	defaultNy = #{defaultNy}
	,name = #{name}
	,tel = #{tel}
	,adderss = #{adderss}
	,id = #{id}
	,pass = #{pass}
WHERE
	seq= #{seq}
</update> 

<update id="updateEmail"> 
UPDATE memberEmail
SET
	email = #{email}
WHERE
	memberShip_seq = #{seq}
</update>

 
 
<insert id="insert" >
	insert into memberShip (
		defaultNy
		,name
		,tel
		,id
		,pass
		,adderss
	) values (
		1
		,#{name}
		,#{tel}
		,#{id}
		,#{pass}
		,#{adderss}
	)
	<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		 </selectKey>
</insert>

<insert id="insertEmail">
	insert into memberEmail(
	email
	,memberShip_seq
	) values (
	#{email}
	,#{seq}
	)
</insert>

 <delete id="delete">
UPDATE memberShip
SET
	defaultNy = 0
WHERE
	name = #{name}
</delete>


</mapper>    